
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS" , sans-serif;
    color: whitesmoke;
    background-color: darkblue;
}

.navbar {
    width: 100%;
    height: 40px;
    background-color: white;
    outline-width: 5px;
    border-bottom: 2px black;
}

.nav_logo {

}

.nav_element {

}

.logo_main {
    justify-content: center;
    padding-top: 30px;
    display: flex;
}

.logo_center {
    width: 250px;
    height: auto;
}

.play_button {
    width: 300px;
    height: 75px;
    font-size: 2em;
    background-color: deepskyblue;
    color: whitesmoke;
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 100px;
}

.button_center {
    display: flex;
    padding-top: 110px;
    margin: auto;
}

.bottom_container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.bottom_panel {
    font: inherit;
    position: relative;
    width: 50%;
    background-color: blue;
    margin: 10px auto;
    max-height: 250px;
    overflow-y: auto;
}

.bottom_panel h2 {
    width: 100%;
    text-align: center;
}
.bottom_panel b {

}


.middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.final_pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    flex-direction: row;
    margin: auto;

}

.picture {
    width: 200px;
    height: 200px;
    display: flex;
    margin: 20px;
    flex-direction: column;

}

.picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    background-color: white;
}

.big_picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    background-color: white;

}

.big_picture {
    width: 300px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictures {
    margin-top: 30px;
}




#FinalPage h2, #FinalPage b {
    text-align: center;
    width: 100%;
    margin: auto;
}

.right_button {

}

.left_button {

}

.toggle_button {
    width: 300px;
    height: 75px;
    font-size: 2em;
    background-color: deepskyblue;
    color: whitesmoke;
    font-family: inherit;
    font-weight: bold;
    margin: auto;
}


.hide {
    margin: auto;
    display: none;
}

.submit_button {
    width: 300px;
    height: 75px;
    font-size: 2em;
    background-color: deepskyblue;
    color: whitesmoke;
    font-family: inherit;
    font-weight: bold;
    margin: auto;
}

.container {
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 100px auto auto;
}

#toolbar {
    display: flex;
    flex-direction: row;
    padding: 5px;
    height: 70px;
    background-color: #202020;
}

#toolbar * {
    margin-bottom: 6px;
    padding: 10px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    height: 100%;
    width: 35px;
}

#toolbar button {
    background-color: #1565C0;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
}

#clock {
    text-align: right;
    margin-right: 30px;
    color: black;
}

#topic {
    text-align: center;
    color: black;
}

